<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

  <% @reservations.each do |reservation| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= reservation.item.description %> <br>
        </div>
        <div class="panel-body">
          <%= reservation.user.name %> <br>
          <%= reservation.item.name %> <br>
        </div>
      </div>
  <% end %>
<br>
